*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html  {
  font-family: system-ui;
  background: #000106;
  color: white;
 display:flex;
  justify-content: center;
  align-items:center;
  height: 100%;
  width: 100%;
  
}



body {
  --light: hsl(220, 50%, 90%);
  --primary: hsl(255, 30%, 55%);
  --focus: hsl(210, 90%, 50%);
  --border-color: hsla(0, 0%, 100%, .2);
  --global-background: hsl(220, 25%, 10%);
  --background: linear-gradient(to right, hsl(210, 30%, 20%), hsl(255, 30%, 25%));
  --shadow-1: hsla(236, 50%, 50%, .3);
  --shadow-2: hsla(236, 50%, 50%, .4);

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', sans-serif;
  color: var(--light);
  background: var(--global-background);
}


.main{
  width: 50%;
  height: 60%;
  background: #fff;
    box-shadow:  .4rem .4rem 10.2rem .2rem hsla(236, 50%, 50%, .3);
}

.footer{
  width: 100%;
  background: var(--background);
  color: #fff;
  display: flex;
  padding: 0.7%;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,0.5);
}

.content{
  background: var(--background);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a{
  position: absolute;
  bottom: 45%;
  background: var(--global-background);
    box-shadow:  0rem 0rem 1.2rem .2rem hsla(236, 50%, 50%, .3);
  border-radius: 1.4rem;
  padding: .5% 1%;
  cursor: pointer;
  transition: 300ms;
  color:#fff;
  text-decoration: none;
}

a:hover{
  background: var(--light);
  color: var(--global-background);
}
